body{
    font-family: 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 32px;
    position: relative;
}

.container .main{
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 600px;
}

.container select, .container label{
    font-size: 16px;
    line-height: 18px;
}

.container select{
    flex-grow: 1;
}

.container label{
    margin-right: 8px;
}

.container .setting{
    margin: 8px 0;
    display: flex;
    align-items: center;
}

.container .startButton{
    background-color: #3a3934;
    padding: 16px 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: .2s;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 24px;
    width: 100%;
}

.container .startButton:hover{
    opacity: .9;
}

.container h1{
    margin-top: 0;
    margin-bottom: 8px;
    font-style: italic;
}

.container .subtitle{
    margin-bottom: 40px;
    margin-top: 0;
    font-style: italic;
}

.container p{
    font-size: 16px;
    margin: 8px 0;
}

.legend{
    position: absolute;
    left: 300px;
    left: 310px;
    top: 40px;
}

.legendByDigit{
    max-width: 100px;
}

.legendByRange{
    max-width: 200px;
}

#chart {
    margin: 0 auto;
    width: 800px;
    height: 600px;
    left: 300px;
    position: absolute;
    background-color: #f8f8f8;
}

.startMarker{
    fill: #707070;
}

.line {
    fill: none;
    stroke-width: 2px;
    stroke: #000;
}

$colorDigit0: #efb604;
$colorDigit1: #ec990f;
$colorDigit2: #e63822;
$colorDigit3: #d1003e;
$colorDigit4: #ae0460;
$colorDigit5: #872f89;
$colorDigit6: #4f53a9;
$colorDigit7: #1f8497;
$colorDigit8: #13a866;
$colorDigit9: #7eb851;

.line-digit-0{
    stroke: $colorDigit0;
}
.line-digit-1{
    stroke: $colorDigit1;
}
.line-digit-2{
    stroke: $colorDigit2;
}
.line-digit-3{
    stroke: $colorDigit3;
}
.line-digit-4{
    stroke: $colorDigit4;
}
.line-digit-5{
    stroke: $colorDigit5;
}
.line-digit-6{
    stroke: $colorDigit6;
}
.line-digit-7{
    stroke: $colorDigit7;
}
.line-digit-8{
    stroke: $colorDigit8;
}
.line-digit-9{
    stroke: $colorDigit9;
}